@font-face {
    font-family: 'Pokemon DS';
    src: url('./fonts/pokemon-ds-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Pokemon DS', sans-serif;
    background-color: #484050;
}